/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  
}
h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
  font-size: 18px;
}
p{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
li{
  font-family:Georgia, 'Times New Roman', Times, serif;
  list-style-type: none;
}


.img-inicio{
  width: 100%;
  height: 100%;
 
  max-height: 600px;
}

header {
  background-color: #f2f2f2;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  margin-bottom: 60px;
}
.imagen{
  width: 70px;
  height: 70px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 5px 10px;
}

.navbar li {
  margin-left: 10px;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}
.titulo{
  text-align: center;
  margin-top: 100px;

}
.somos{
  border-radius: 5px;
  background: rgb(145, 172, 172);
 justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}
/* Estilos para pantallas grandes */
.column {
  display: grid;
  width: 100%;
  float: none;
}

/* Estilos para pantallas medianas, como tablets */
@media (max-width: 800px) {
  .column {
    display: grid;
    width: 100%;
    float: left;
  }
}

/* Estilos para pantallas pequeñas, como celulares */
@media (max-width: 500px) {
  .column {
    display: grid;
    width: 100%;
    float: left;
  }
}
.content {
  display: table;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-bottom: 30px;
  
}
.perfil{
  border-radius: 5px;
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
}

.column {
  display: table-cell;
  width: 25%;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 5px;
  
  
}

.column img {
  width: 100%; 
}

.column p {
  margin-top: 10px;
}
.tema{
  border-radius: 5px;
  background: #fcfcfc;
  margin-top: 15px;
  
  margin-bottom: 15px;
  padding: 10px;
}
.beneficios{
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  background: rgb(145, 172, 172);
}
.im-beneficios{
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

footer {
  padding: 10px;
  margin-top: 50px;
  display: flex;
  background: darkslategrey ;
  text-align: center;
}

.columna {
  flex: 1;
  margin-right: 20px; 
  align-items: center;/* Ajusta el margen según tus preferencias */
}
.columna ul {
  list-style-type: none;}
.f-title{
  color:rgb(190, 216, 216)
}